@media only screen and (max-width: 1300px) and (min-width:1200px) {
    section.hero-banner {
        padding: 80px 0 315px;
    }
    


}






@media only screen and (min-width:992px) {
    .dk-nav {
        display: none;
    }
    .mb-nav {
        display: none !important;
    }
}
@media only screen and (max-width: 1500px) & (min-width: 1300px) {

    .bg_svg {
       top: 20px;
    }

}


@media only screen and (max-width: 1300px) {
    .navbar-toggler {
        padding: 0;
        font-size: 25px;
    }
    header#site-header:before,
    header#site-header:after {
        display: none;
    }
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
    .navbar-toggler line {
        stroke: #fff;
    }
    li.nav-item {
        margin: 0 15px;
    }
    .navbar a.nav-link {
        font-size: 14px;
        padding: 20px 0 !important;
    }
    .lg-btn {
        font-size: 14px;
    }
    .btn svg {
        width: 16px;
    }
    button.btn.sg-btn {
        margin-left: 25px;
    }
    button.btn.sg-btn,
    .sb-button,
    .main-btn {
        padding: 18px 40px;
        font-size: 15px;
    }
    a.navbar-brand img {
        width: 145px;
    }
    .hero-title {
        font-size: 50px;
        font-weight: 600;
        line-height: 1.2;
    }
    .hero_txt {
        margin: 15px 0px;
        font-size: 16px;
    }
    .hero_txt_upper {
        font-size: 20px;
    }
    .form_wrapper {
        border-radius: 10px;
        padding: 10px;
    }
    img.img-fluid.hero-img {
        position: absolute;
        right: -27%;
        top: 0;
        width: 72%;
    }
    div#round_img {
        height: 75px;
        width: 75px;
        margin: 0 auto 15px;
    }
    div#round_img img {
        width: 30px! important;
    }
    .ft_title {
        font-size: 22px;
        font-weight: 600;
    }
    .ft_list-2 {
        width: 80%;
    }
    button.tablinks {
        padding: 25px 35px;
        font-size: 16px;
    }
    .tabcontent {
        padding: 35px 0 0;
    }
    h4.tab-title {
        margin: 15px 0px 25px;
        font-size: 24px;
    }
    h4.tab-title br {
        display: none;
    }
    .btn-group {
        margin-top: 25px;
    }
    .lg_title {
        font-size: 40px;
    }
    .modal-title {
        font-weight: 600;
        font-size: 20px;
    }
    #modal-img {
        height: 55px;
        width: 55px;
    }
    #modal-img img {
        width: 23px !important;
    }
    .modal-txt,
    .nw_desc,
    .brand_sec .desc,
    .more-lnk,
    .dc_info,
    .inner_desc .more-lnk,
    .cta-desc,
    .list-inline li {
        font-size: 15px;
    }
    .more-lnk,
    .dc_info,
    .inner_desc .more-lnk {
        margin-top: 15px;
    }
    .more-lnk svg,
    .dc_info svg,
    .more-lnk svg,
    .dc_info svg,
    .lg-btn svg {
        width: 16px !important;
        margin-left: 5px;
    }
    .ft_sec {
        padding-top: 35px;
    }
    .certified_wrapper {
        padding-top: 15px;
    }
    img.img-fluid.sm_img {
        width: 80px;
    }
    .bg_svg {
        display: none;
    }
    .pr_sec {
        background: linear-gradient(232.01deg, #00E9FB 9.91%, #00BAF3 44.44%);
    }
    .tb_sec:after {
        z-index: 1;
    }
    .tb_sec:after {
        height: 110px;
        width: 110px;
        bottom: -3%;
    }
    .modal-box {
        border-radius: 15px;
        padding: 55px 25px 45px;
    }
    .news_sec:before {
        height: 200px;
        width: 115px;
        top: -5%;
    }
    .main-heading {
        font-size: 40px;
        margin-top: 15px;
    }
    .sm_heading {
        font-size: 18px;
    }
    .carousel-col {
        margin-top: 45px;
    }
    .news_sec .owl-dots {
        display: none;
    }
    .brand_sec .desc {
        margin-top: 20px;
        width: 90%;
    }
    section,
    .cta-sec,
    .pr_sec {
        padding: 60px 0;
    }
    .review_sec {
        padding-top: 60px;
    }
    .pr_sec .col-lg-4 {
        margin-bottom: 25px;
    }
    .nw-title {
        font-size: 22px;
    }
    .logo_wrapper {
        margin-bottom: 0;
    }
    .modal-box:before {
        height: 60px;
        width: 60px;
    }
    .desc_aside .rv_desc {
        font-size: 18px;
        width: 85%;
    }
    .review_sec .owl-nav {
        right: 0;
    }
    .name-title {
        font-size: 20px;
    }
    .dc_info {
        margin-top: 5px;
    }
    .ad_wrap {
        margin-top: 20px;
    }
    .ad_wrap img {
        width: 55px !important;
        height: 55px;
        object-fit: contain;
        margin-right: 10px;
    }
    .review_sec button.owl-next {
        width: 45px !important;
        height: 45%;
    }
    .product_sec:after {
        height: 155px;
        width: 180px;
    }
    .product-title {
        font-size: 18px;
    }
    .product-info {
        margin-top: 7px;
    }
    /*.cta-sec:after {
        display: none;
    }*/
    .footer-title {
        font-size: 16px;
    }
    .cta-title {
        font-size: 24px;
        margin: 25px 0 15px;
    }
    .list-inline li {
        width: 100%;
        margin-bottom: 5px;
    }
    .list-inline {
        margin: 20px 0 15px;
    }
    a.footer-link {
        margin-bottom: 5px;
    }
    .footer-img {
        margin-bottom: 15px;
    }
    .sub_title,
    .footer-title {
        font-size: 18px;
        margin: 35px 0 15px;
    }
    img.img-fluid.main-img {
        height: 160px;
    }
    .dropdown-menu {
        left: -100% !important;
        min-width: auto;
        width: 800px;
    }
    .nav-bg {
        height: 28px;
        width: 14%;
    }
    ul.dropdown-link li {
        margin-bottom: 15px;
    }

    /******* smart collect ************/
    .st-sec .col-lg-6 {
        width: 46%;
    }

    .sm-pr-sec .lg_title {
         font-size: 22px;
        line-height: 36px;
    }



}

@media only screen and (max-width:1199px) {
    section.hero-banner {
        padding: 80px 0 195px;
    }
}

@media only screen and (max-width: 992px) {



    .dk-nav {
        display: none !important;
    }
    .mb-nav {
        display: block !important;
    }
    .lg-btn {
        display: block;
        margin-left: 15px;
    }
    button.btn.sg-btn {
        margin-left: 15px;
    }
    .ft_list_block.ft_list-2 {
        display: none;
    }
    li.list-item {
        width: 30%;
        margin-bottom: 20px;
    }
    img.img-fluid.hero-img {
        position: relative;
        right: 0;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
    .hero-banner:after {
        display: none;
    }
    section.hero-banner {
        padding: 60px 0;
    }
    .sb-button {
        margin-left: 10px;
        display: block;
        width: 10%;
    }
    .inner_content {
        flex-direction: column;
    }
    .lt_col {
        width: 100%;
    }
    img.img-fluid.lg_img {
        width: 430px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .rt_col {
        width: 100%;
        padding: 25px 0;
    }
    .tb_sec:after,
    .pr_sec:before,
    .news_sec:before,
    .news_sec:after,
    .review_sec:before,
    .product_sec:after {
        display: none;
    }
    .pr_sec .col-lg-4 {
        width: 100%;
        margin-bottom: 20px;
    }
    .modal-box {
        border-radius: 10px;
        padding: 45px 25px;
    }
    button.btn.sg-btn,
    .sb-button,
    .main-btn {
        border-radius: 5px !important;
    }
    .lg_title,
    .hero-title,
    .main-heading {
        font-size: 35px;
    }
    .lg_title {
        margin-top: 15px;
    }
    .item_blk {
        border-radius: 10px;
    }
    .img_bg {
        height: 55px;
        width: 55px;
        margin-bottom: 20px;
    }
    img.img-fluid.main-img {
        height: 280px;
        width: 100%;
        object-fit: contain;
    }
    .news_sec .owl-theme .owl-nav {
        margin-top: 15px;
    }
    .main-heading br {
        display: none;
    }
    .logo_wrapper li {
        margin: 15px 0px;
        width: 48%;
        text-align: center;
    }
    .logo_wrapper li img {
        width: 140px;
        height: 70px;
        object-fit: contain;
    }
    section,
    .cta-sec,
    .pr_sec {
        padding: 50px 0;
    }
    .certified_wrapper {
        padding-top: 0;
    }
    .review_wrapper {
        flex-wrap: wrap;
    }
    .img_aside {
        width: 100%;
    }
    .desc_aside {
        width: 100%;
        padding: 45px 25px 15px;
        margin-top: 25px;
    }
    .card_wrapper img {
        border-radius: 10px 10px 0 0;
        object-position: top;
    }
    .desc_inner {
        background-color: #f8f9fb;
        padding: 25px 15px;
        border-radius: 0 0 10px 10px;
    }
    .desc_aside:before {
        left: 15px;
        top: 0;
    }
    .desc_aside .rv_desc {
        font-size: 15px;
        width: 100%;
    }
    .review_sec .owl-nav {
        display: none !important;
    }
    .product_wrapper img {
        border-radius: 10px;
    }
    .ct_btn {
        padding: 6px 20px;
        font-size: 15px;
    }
    .row-flex .col-lg-6 {
        width: 48%;
        margin-bottom: 25px;
    }
    .mb-img {
        width: 450px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
    }
    .list-inline {
        margin: 15px 0 0;
    }
    .footer_coumn_inner {
        padding-left: 0;
    }
    .sub_title,
    .footer-title {
        font-size: 16px;
        margin: 15px 0px 10px;
    }
    .container.footer_info {
        padding-top: 15px;
    }
    footer {
        padding: 35px 0;
    }
    .back-btn .fa {
        padding: 15px;
    }
    .navbar {
        padding: 25px 0 15px;
        z-index: 9999;
    }
    section.hero-banner {
      padding: 125px 0;
    }
    .navbar a.nav-link {
        font-size: 16px;
        font-weight: 500;
        padding: 15px 0 0!important;
        text-align: left;
    }
    .navbar a.nav-link {
        border: none;
    }
    .lg-btn,
    .btn.sg-btn {
        margin-top: 15px;
        text-align: center;
        display: block;
        margin-left: 0 !important;
        margin-right: auto;
    }
    .tb_btn_wrap {
        overflow-x: scroll;
    }
    .tb_btn_wrap::-webkit-scrollbar {
        width: .1rem;
        height: 1px;
    }
    .tb_btn_wrap::-webkit-scrollbar-thumb {
        height: 2px;
    }
    .tab-btn-group {
        width: 1000px;
        padding-bottom: 15px;
    }
    .carousel-col {
        margin-top: 35px;
    }
    .review_sec {
        padding-top: 50px;
    }
    .modal-box {
        transform: none;
    }
    .dropdown-menu {
        width: auto;
    }
    .menu-inner .col-lg-4 {
        width: 100%;
    }
    .nav-bg {
        height: 25px;
        width: 30px;
    }
    ul.dropdown-link li {
        margin-bottom: 12px;
    }
    .navbar a.nav-link:before {
        display: none;
    }
    .dropdown-menu.mb-nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 65%;
        opacity: 0;
        height: 100vh;
        left: inherit !important;
        margin-right: auto;
        display: block;
        padding: 20px 5px 20px 15px;
        border-radius: 0;
    }
    .dropdown-menu.mb-nav.show {
        right: 0;
        opacity: 1;
    }
    .menu-inner {
        height: 90%;
        overflow-y: scroll !important;
    }
    .menu-inner::-webkit-scrollbar {
        width: .1rem;
        height: 2px;
    }
    .menu-inner::-webkit-scrollbar-thumb {
        height: 2px;
    }
    .dropdown-toggle::after {
        vertical-align: 2px;
    }
    .dropdown-item {
        font-size: 14px;
    }
    .nav-bg img {
        height: 18px;
        width: 18px;
        object-fit: contain;
    }
    .dropdown-item {
        margin-left: 10px;
    }
    .menu-inner ul {
        margin-bottom: 0;
    }
    .nav-title {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .btn-close {
        display: block;
        margin-left: auto;
        margin-bottom: 15px;
        width: 10px;
        height: 10px;
    }
    .btn-close:focus {
        outline: none;
        box-shadow: none;
    }
    .lg-btn {
        text-align: left;
    }
    li.nav-item {
        margin: 0 15px 0 0;
    }
    .background_svg {
        display: none;
    }
    .cta-sec {
        background: linear-gradient(233.17deg, #00E9FB 8.26%, #00BAF3 43.42%);
    }

    #smart-banner .col-lg-6 {
        width: 100%;
        margin-bottom: 50px;
    }
    #smart-banner .col-lg-6:nth-last-child(1) {
        margin-bottom: 0px;
      }
      .smt-tab .rt_col {
        width: 100%;
    }
    .st-sec .col-lg-6 {
        width: 100%;
        margin-bottom: 40px;
    }
    .st-sec .col-lg-6:nth-last-child(1) {
        margin-bottom: 0px;
      }
     .prduct_sec .col-lg-4 {
        width: 100%;
        margin-bottom: 45px
    ;
    }

    /****************** smart collect ***********/
 #Virtual-Accounts   .d-flex {
        display: flex!important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    #smart-banner .hero-title {
        font-size: 35px;
    }
    #smart-banner .img-fluid {
        max-width: 100%;
        height: auto;
         margin-left: auto;
        display: block;
        margin-right: auto;
     }
    #corporate .list {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    #pr-sec .d-flex {
        display: flex!important;
        flex-direction: column;
    }
    .box::after {
        content: "";
        position: absolute;
        background-image: url(../img/arrow-circle-left.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 10%;
        width: 10%;
        right: 40%;
        left: 40%;
        transform: rotate(90deg);
        top: 100%;
        bottom: 0%;
    }

    .box {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #smart-banner {
        padding: 100px 0px 100px;
    }

    .smt-tab {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .sm-pr-sec .modal-box {
        min-height: auto;
    }
    .faq {
        box-sizing: border-box;
        max-width: 98%;
        margin: 0 auto;
    }

    .navbar-collapse {
       background-color: #00baf3;
        padding: 20px;
        border-radius: 10px;
    }


}

@media only screen and (max-width: 640px) {

    

      .hero-sub-title {
            font-size: 22px !important;
            line-height: 45px;
        }

      .form_wrapper {
        width: 100% !important;
     }

     section.hero-banner {
    padding: 110px 0 !important;
}

    a.navbar-brand img {
        width: 115px;
    }
    .ft_title {
        font-size: 18px;
    }
    .ft_desc {
        font-size: 15px;
        margin-top: 5px;
    }
    div#round_img img {
        width: 25px! important;
    }
    div#round_img {
        height: 55px;
        width: 55px;
        margin: 0 auto 10px;
    }
    .lg_title,
    .hero-title,
    .main-heading {
        font-size: 26px;
    }
    .hero_txt {
        margin: 10px 0px 25px;
        font-size: 14px;
    }
    .hero_txt_upper {
        font-size: 16px;
    }
    .form_wrapper input[type="tel"],
    .form_wrapper.newsletter-wrapper input[type="email"] {
        font-size: 16px;
        padding: 15px;
        width: auto;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 12px;
    }
     ::placeholder {
        color: #000! important;
    }
    .form_wrapper {
        flex-direction: column;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }
    button.btn.sg-btn,
    .sb-button,
    .main-btn {
        padding: 15px 35px;
        font-size: 15px;
    }
    .sb-button {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    .ig_wrapper {
        justify-content: space-between;
    }
    .row {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 0;
        overflow: hidden;
    }
    .container {
        padding: 0;
    }
    .navbar {
        padding: 15px 15px 0;
    }
    img.img-fluid.sm_img {
        width: 55px;
        margin: 0px 15px;
    }
    li.list-item:nth-last-of-type(1),
    ul.ft_list_block {
        margin-bottom: 0;
    }
    .tabcontent {
        padding: 30px 0 0;
    }
    h4.tab-title {
        line-height: 1.2;
        font-size: 20px;
    }
    .feature_wrap,
    .ct_block {
        flex-direction: column;
    }
    .ct_block {
        width: 100%;
    }
    .no_txt,
    .ct_heading,
    .sm_title {
        font-size: 18px;
    }
    li.list-item {
        width: 100%;
        margin-bottom: 20px;
        background: rgb(231 231 239 / 20%);
        padding: 20px;
        margin: 0 0 15px;
        border-radius: 10px;
    }
    .ct_area {
        padding: 10px 0;
    }
    .btn-group {
        margin-top: 15px;
        display: block;
    }
    .main-btn.lt-btn {
        margin-left: 0 !important;
        margin-top: 15px;
    }
    .btn-group .btn {
        display: block;
        width: -webkit-fill-available;
    }
    .modal-box:before,
    .modal-box:after,
    img.img-fluid.main-img {
        display: none;
    }
    .modal-box {
        padding: 25px 15px;
    }
    #modal-img {
        border-radius: 5px;
    }
    .modal-title {
        margin-bottom: 10px;
    }
    .modal-txt {
        font-size: 14px;
    }
    .inner_desc {
        padding: 40px 25px;
        border-radius: 10px;
    }
    .nw_desc {
        margin-top: 10px;
    }
    .img_bg {
        margin-bottom: 15px;
    }
    .news_sec .owl-prev:before,
    .news_sec .owl-next:before {
        width: 30px;
        height: 15px;
    }
    .news_sec .owl-theme .owl-nav {
        margin-top: 5px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .news_sec .owl-prev:after,
    .news_sec .owl-next:after {
        display: none;
    }
    .nw-title {
        font-size: 18px;
    }
    .brand_sec .desc {
        margin-top: 15px;
        width: 100%;
    }
    .logo_wrapper li img {
        width: 100px;
        height: 50px;
        object-fit: contain;
    }
    .logo_wrapper li {
        margin: 15px 0px 0;
    }
    .card_wrapper img {
        height: 200px;
    }
    .name-title {
        font-size: 18px;
    }
    .desc_inner {
        padding: 20px 15px;
    }
    .desc_aside:before {
        width: 35px;
        left: 0;
    }
    .desc_aside {
        padding: 35px 0 15px;
        margin-top: 10px;
    }
    .ad_wrap img {
        width: 35px !important;
        height: 35px;
    }
    .cp_name {
        font-size: 16px;
        margin-bottom: 2px;
    }
    .row-flex .col-lg-6 {
        width: 100%;
        margin-bottom: 15px;
    }
    .product-media {
        padding-top: 15px;
    }
    .product_wrapper img {
        width: 100%;
        height: 180px;
    }
    .cta-title {
        font-size: 22px;
        margin: 15px 0;
    }
    .footer-img {
        margin-bottom: 12px;
    }
    .ft_txt,
    .footer_info {
        font-size: 14px;
    }
    .form_wrapper.newsletter-wrapper {
        border: none;
    }
    .social-menu li {
        width: 38px;
        height: 38px;
        margin-right: 10px;
    }
    .form_wrapper.newsletter-wrapper input[type="email"] {
        background-color: #E0E0E0 !important;
    }
    ul.ft-row {
        flex-direction: column;
        margin-bottom: 0;
    }
    .ft_column {
        width: 100%;
    }
    a.footer-link {
        font-size: 14px;
    }
    .container.footer_info {
        padding-top: 25px;
    }
    .back-btn .fa {
        padding: 13px;
    }
    .back-btn {
        right: 5px;
        bottom: 75px;
    }
    .footer-title {
        margin-bottom: 5px;
    }
    .navbar a.nav-link {
        font-size: 14px;
        font-weight: 400;
    }
    .mb-img {
        width: 350px!important;
    }
    .row-flex .col-lg-6:nth-last-of-type(2){
        margin-bottom:15px;
    }

    /***************** smart collect ************/

    #smart-banner .hero-title {
        font-size: 26px;
    }
    .blue-card {
        padding: 70px 20px;
        
    }
    .sm_heading {
        font-size: 18px;
        line-height: 30px;
    }

    .mt-80 .tab-title {
        font-size: 38px;
        margin: 0px 0 20px;
    }

    .mt-80 .desc {
        font-size: 18px;
        line-height: 1.8;
        color: #7C8087;
        padding-right: 20px;
    }

    .mt-80 {
        margin-top: 40px;
        margin-bottom: -10%;
    }

    .tab-title {
         font-size: 20px;
    }

    .mt-80 .tab-title {
        font-size: 28px;
        margin: 0px 0 20px;
    }

    .accordion-button {
        font-size: 16px;
    }

    .list li:last-child {
        padding-bottom: 0px;
       
    }
    .st-plan, .ct-plan {
        padding: 70px 20px;
     }
     .ct-upper {
        padding: 40px 50px 50px 50px;
    }

    section, .cta-sec, .pr_sec {
        padding: 30px 0;
    }
    .blue-card {
        padding: 50px 30px;
        padding-right: 30px;
        padding-left: 30px;
        
    }
    #smart-banner .hero-title {
        font-size: 26px;
    }

    
    .sm-pr-sec .lg_title {
        font-size: 20px;
        line-height: 31px;
    }
    #smart-banner {
        padding: 50px 0px 50px;
    }

    .cta-sec:after {
        display:none;
    }
    .smt-tab {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .navbar-collapse {
       background-color: #00baf3;
        padding: 20px;
        border-radius: 10px;
    }



}




/******************************** New payment section responsvie css *****************************/
@media only screen and (max-width:1199px) {
    .lt_col .digipe-corporate {
         top: -140px;
      
      }
      #corporate-bank-sec .ct_heading {
        font-size: 18px;
        
    }

    #payment-box-sec .modal-title {
         font-size: 22px;
        
    }

    .hero-sub-title {
         font-size: 32px;
         line-height: 55px;
     }

     .hero-title {
        font-size: 32px;
        
    }
    section.hero-banner {
        padding: 140px 0 195px;
    }

}   


@media only screen and (max-width:992px) {
    .lt_col .digipe-corporate {
        position: inherit;
        top: 0px;
        left: 0px;
        margin-top: -80px;
    }

    section#payment-box-sec {
        padding-top: 0px;
    }

    #corporate-bank-sec .lt_col {
        width: 90%;
        position: relative;
    }
    #corporate-bank-sec .rt_col {
        width: 100%;
        margin: 10px 15px;
    }
    #corporate-bank-sec .ct_heading {
        font-size: 19px;
    }

    #payment-box-sec .col-lg-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .hero-title {
        font-size: 32px;
    }

}  

@media only screen and (max-width: 640px) {
h4.tab-title {
    line-height: 1.7;
    font-size: 19px;
}
#corporate-bank-sec .rt_col {
    width: 97%;
    margin: 10px 10px;
    padding-bottom: 0px;
}

section#payment-box-sec {
    padding-top: 0px;
}

#payment-box-sec .modal-title {
    font-size: 20px;
}

#payment-box-sec .modal-box {
    padding: 30px 20px 30px 20px;
    
}

#payment-box-sec .col-lg-4 {
    margin-bottom: 10px;
}

.hero-title {
    font-size: 22px;
}

.hero-sub-title {
     line-height: 40px;
}

section.hero-banner {
    padding: 140px 0 100px;
}
#smart-banner {
    padding: 140px 0px 100px;
}

.form_wrapper input[type="tel"], .form_wrapper.newsletter-wrapper input[type="email"] {
    color: #000;
}

}